/edu.uniajc.persistence/nbproject/private/
/edu.uniajc.interfaces/nbproject/private/
/edu.uniajc.proyeccionSocial.interfaces/target/
/edu.uniajc.proyeccionSocial.logic/target/
/edu.uniajc.proyeccionSocial.view/target/
/edu.uniajc.proyeccionSocial.logica/target/
/edu.uniajc.proyeccionSocial.business/target/
/edu.uniajc.proyeccionSocial.persistencia/target/