/edu.uniajc.persistence/nbproject/private/
/edu.uniajc.interfaces/nbproject/private/
/edu.uniajc.proyeccionSocial.interfaces/target/
/edu.uniajc.proyeccionSocial.logic/target/
/edu.uniajc.proyeccionSocial.view/target/